* {
  box-sizing: border-box;
  font-family: Unica\77 LL;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-feature-settings: "ss02" on, "ss03" on;
}
html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
